<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.4" targetFramework="net461" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net461" />
  <package id="EPPlus" version="4.1.1" targetFramework="net461" />
  <package id="EPPlus.Core.Extensions" version="1.2.4" targetFramework="net461" />
  <package id="EPPlus.DataExtractor" version="1.3.1" targetFramework="net461" />
  <package id="EPPlus.Html" version="0.1.0" targetFramework="net461" />
  <package id="ExcelExtentions.Dependency.Epplus" version="1.0.0.0" targetFramework="net461" />
  <package id="iTextSharp" version="5.5.12" targetFramework="net461" />
  <package id="itextsharp.pdfa" version="5.5.12" targetFramework="net461" />
  <package id="Ma.EPPlus.Helper" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net461" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Types" version="11.0.1" targetFramework="net461" />
  <package id="PDFsharp" version="1.32.3057.0" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.4.0" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.106.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.106.0" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.106.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.106.0" targetFramework="net461" />
</packages>